---
import "@fontsource/rajdhani/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CS2 Ranks</title>
  </head>
  <body>
    <nav>
      <h1>CS2 Rank Converter</h1>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  body {
    background-image: url("/assets/dust2.png");
    background-size: cover;
    background-position: center center;
    overscroll-behavior: none;
  }

  h1 {
    font-family: "Rajdhani", sans-serif;
    color: white;
    font-size: 24px;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
  }
</style>
